<header class="header">
    <div class="logo-container">
        <div class="spinner-1">
            <div class="spinner-2"></div>
        </div>
        <div class="logo-text">
            The<h1 class="inline">Anatomical page</h1>
        </div>
    </div>
    <nav class="nav-buttons">
        <app-fancy-button text="React"></app-fancy-button>
        <app-fancy-button text="Angular" [isActive]="true"></app-fancy-button>
        <app-fancy-button text="Vue.js"></app-fancy-button>
    </nav>
</header>