.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(background-color);
    color: var(--gray-900);
}

.logo {
    font-size: 3.125rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-image {
    margin-right: 1rem;
    max-width: 100%;
    height: auto;
}

.nav-buttons {
    // display: flex;
    // align-items: center;
}
