.button {
    color: var(--gray-700);
    padding: 0.75rem 1.75rem;
    border-radius: 1rem;
    border: 1px solid #282828;
    background-color: #212121;
    box-shadow: inset 2px 2px 5px rgb(22, 22, 22);
    position: relative;
    overflow: hidden;
    font-size: 1.725rem;
    z-index: 1;
    cursor: pointer;
}

.button::before {
    content: '';
    height: 40%;
    width: 60%;
    position: absolute;
    background-image: linear-gradient(90deg, #222222, #444444);
    filter: blur(1rem);
    bottom: -1rem;
    right: -2rem;
    transition: 0.5s;
    z-index: -1;
}

.button:hover:before {
    bottom: -1.25rem;
    right: 0rem;
    width: 100%;
    background-image: linear-gradient(90deg, #ff06b5, #06b5ff);
    animation: breathing 3s ease-in-out infinite;
}

.button-active {
    color: var(--gray-700);
    padding: 0.75rem 1.75rem;
    border-radius: 1rem;
    border: 1px solid #282828;
    background-color: #212121;
    box-shadow: inset 2px 2px 5px rgb(22, 22, 22);
    position: relative;
    overflow: hidden;
    font-size: 1.725rem;
    z-index: 1;
    cursor: pointer;
}

.button-active::before {
    content: '';
    height: 40%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(90deg, #ff06b5, #06b5ff);
    animation: breathing 3s ease-in-out infinite;
    filter: blur(1rem);
    bottom: -1.25rem;
    right: 0rem;
    transition: 0.5s;
    z-index: -1;
}

.button-active.deactivate::before {
    bottom: -1rem;
    right: -2rem;
    width: 60%;
    background-image: linear-gradient(90deg, #222222, #444444);
    animation: none;
}

@keyframes breathing {
    0% {
        transform: rotateX(45deg);
    }

    50% {
        transform: rotateY(30deg);
    }

    100% {
        transform: rotateX(-45deg);
    }
}