<div class="showcase-row">
    <div class="showcase-left">
        <h1 class="inline-h1">Welcome</h1>
         to this digital domain.
        <p>Herein, may you find insight and understanding as you embark upon the exploration of what we have created.</p>
        <p>This website is constructed to elucidate its function, beginning from the instant you visit
        the URL, and extending through to the final moment when you are engaged in reading these words.</p>
        <p>Let us therefore commence at the origin: the initial invocation of the URL.</p>
    </div>
    <div class="divider-1-vertical" role="separator" aria-label="Divider-Vertical"></div>
    <div class="showcase-right">
        <img class="showcase-image" src="earth-icon-vector-art.png" alt="Logo" />
        <p>There currently lacks text accompanying this image. Pray this gets rectified in the nearby future.</p>
    </div>
</div>